#header {
padding: 0px;
margin: 0px;
color: white;
font-weight: bold;
text-align: right;
height: 150px; 
width: 100%; 
background-color: #4d0000;

}

.container-img{
  border-radius:50%
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flexOne {
  background: #4d0000;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.flexTwo {
  background: #4d0000;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.flexThree {
  background: #4d0000;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #ff6666;}
</style>


